body {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 1.25rem;
}

@media screen and (min-width: 1080px) {
  html,
  body {
    font-size: 16px;
  }
}

@media screen and (min-width: 960px) and (max-width: 1079px) {
  html,
  body {
    font-size: 15px;
  }
}

@media screen and (min-width: 640px) and (max-width: 959px) {
  html,
  body {
    font-size: 14px;
  }
}

@media screen and (min-width: 360px) and (max-width: 639px) {
  html,
  body {
    font-size: 12px;
  }
}

:root {
  --default-gray: #939597;
}
